<table class="table table-hover table-success">
  <thead class="bg-dark text-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Gender</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-success" *ngFor="let obj of data; let i = index" (click)="onClickItem(obj.id)">
      <th scope="row">{{i+1}}</th>
      <td>{{obj.name}}</td>
      <td>{{obj.age}}</td>
      <td>{{obj.gender | titlecase}}</td>
      <td>{{obj.phone}}</td>
    </tr>
  </tbody>
</table>