<div class="col-12 login">
    <h3>User:</h3>
    <div class="offset-3 col-6">
        <label for="text-username">Username {{userName}}</label>
        <input type="text" class="text-username input form-control" [(ngModel)]="userName">
        <label for="text-password">Password {{password}}</label>
        <input type="password" class="text-password input form-control" [(ngModel)]="password">
        <label for="checkbox-gender">IsRemember : </label>
        <input type="checkbox" class="checkbox-remember input-group-item" [(ngModel)]="isRemember"> {{isRemember ? 'true':'false'}}

        <button (click)="login()" class="btn btn-primary input">Login</button>
        <p id="infoUser"></p>
    </div>
</div>